/* Body and menu (inspired by Codrops) */
html,
body,
main,
.content-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

#map {
  height: 100%;
}

main {
	background: #393939;
}

.menu-wrap a {
	color: rgba(186, 186, 186, 1);
}

/* Scrollbar (thanks to http://www.hongkiat.com/blog/css-scroll-bar/) */
.menu-wrap ::-webkit-scrollbar {
    width: 16px;
}
.menu-wrap ::-webkit-scrollbar-track {
    background-color: #393939;
}
.menu-wrap ::-webkit-scrollbar-thumb {
    background-color: #ccc;
		border-radius: 10px;
		padding-right: 2px;
		background-clip: padding-box;
		border: 4px solid rgba(0, 0, 0, 0);
}
.menu-wrap ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.menu-wrap div.monument a:hover,
.menu-wrap div.monument a.active {
	color: #cdb946;
}

.menu-wrap div.restaurant a:hover,
.menu-wrap div.restaurant a.active {
	color: #f05858;
}

.menu-wrap div.nightlife a:hover,
.menu-wrap div.nightlife a.active {
	color: #64b3e1;
}

.content-wrap {
	overflow-y: hidden;
	transition: transform 0.3s;
}

/* Menu Button */
.menu-button {
	position: fixed;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: transparent;
	transition: transform 0.3s;
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#373a47 20%, transparent 20%, transparent 40%, #373a47 40%, #373a47 60%, transparent 60%, transparent 80%, #373a47 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.6;
}

.menu-button:focus {
  outline: none;
}
/* Menu */
.menu-wrap {
	position: absolute;
	opacity: 0;
	transition: opacity 1s;
	font-size: 1em;
}

.menu-top {
	line-height: 55px;
}

.menu-top .search-bar {
	display: inline-block;
	padding: 8px 10px;
	line-height: 42px;
}

.search-bar input {
  width: 240px;
  line-height: 26px;
  padding: 0 5px;
}

.menu-top .search-bar,
.menu-side {
	width: 300px;
}

.menu-side {
	height: calc(100vh - 60px);
	overflow-y: scroll;
}

.menu-top .profile img {
	float: left;
	margin-right: 1em;
}

.icon-list {
	display: inline-block;
	font-size: 1.75em;
}

.icon-list i {
	color: rgba(186, 186, 186, 1);
	margin: 0 1em 0 0;
	padding: 0;
}

.icon-list i.monument:active, .icon-list i.monument.active  {
  color: #cdb946;
}

.icon-list i.restaurant:active, .icon-list i.restaurant.active  {
  color: #f05858;
}

.icon-list i.nightlife:active, .icon-list i.nightlife.active  {
  color: #64b3e1;
}

@media screen and (max-width: 32em) {
	.icon-list {
		padding-left: 1em;
	}
}

.menu-side a {
	display: block;
	padding: 1.2em;
  text-decoration: none;
}

.menu-side a:hover{
  text-decoration: none;
}

/* Shown menu */
.show-menu .menu-wrap {
	opacity: 1;
}

.show-menu .content-wrap,
.show-menu .menu-button {
	transform: translate3d(300px,60px,0);
}

@media screen and (max-width: 400px) {
	.show-menu .content-wrap,
	.show-menu .menu-button {
		transform: translate3d(400px,0,0);
	}
	.menu-top .search-bar, .menu-side {
		width: 100%;
	}
}

.menu-mobile-button {
	color: rgba(186, 186, 186, 1);
  background-color: transparent;
  border: none;
  margin-right: 12px;
	font-size: 20px;
}

@media screen and (min-width: 401px) {
	.menu-mobile-button{
		display: none;
	}
}

.show-menu .content::before {
	opacity: 1;
	transition: opacity 0.3s;
	transform: translate3d(0,0,0);
}

.infotext .weather {
  vertical-align: middle;
  max-height: 30px
}

.infotext h3, .infotext h4, .infotext h5, .infotext h6 {
  margin: 5px 0;
}

.infotext img {
  max-height: 100px;
}
